.reviews {

  .reviews__title {
    margin: 25px;
  }

  .card-text {
    color: #4F86A2;
    font-weight: 600;
  }

  .card {
    border: none;
    margin: 0;
  }

  .card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 36px;
    font-weight: 600;
  }

  li {
    margin: 0 0.7rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1b1e21;
  }

}
