.stocks {

  background: url("../../img/redBKGbottom.png") center no-repeat;
  @media (min-width: 1921px) {
    background: #ff4f4f;
  }
  background-size: cover;
  padding: 30px 0;



  &__inner {
    position: relative;
    margin-top: -180px;
  }


  h1 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 40px;
  }

  .card-img-overlay {
    padding-right: 5px;
  }

  .card {
    margin: 0.5rem;
  }

  .card-link {
    padding-left: 0;
  }

  .details {
    width: 121px;
    height: 24px;
    margin: 0;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF;
      display: inline-block;
    }

    .stocks__ancherArrow {
      width: 24px;
      border-radius: 50%;
      margin-left: 5px;
      background-color: #FF1744;
    }

  }

  .card-text {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 7px;
  }

  .stocksButton {
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 152px;
    height: 34px;

    .stocksButton__arrow {
      display: inline-block;
      position: relative;
      left: 6px;
      bottom: 3px;
    }

    .stocksButton__text {
      display: inline-block;
      position: relative;
      right: 7px;
      bottom: 2px;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #FFFFFF;
    }
  }

  .allStocks {
    margin-top: 40px;
    margin-bottom: 110px;
  }

  @media only (max-width: 1200px){
    .card-text {
      margin-top: 20px;
    }
  }

  @media only (max-width: 500px){
    .card-text {
      font-size: 6vw;

    }
  }

  @media only (max-width: 992px){
    .stocksButton {
      margin-bottom: 50px;
    }
  }

}