.subscription {
  display: flex;
  flex-direction: column;

  .subscription-container {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .sub-btn {
    text-align: center;
    text-decoration: none;
    min-width: 176px;
    border-radius: 10px;
    padding: 6px;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    &_unbordered {
      border: initial;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__soc {
    margin-left: 16px;

    &:hover {
      color: #222222;
    }

    background: #FF1744;
    color: #FFFFFF;
    font-weight: bold;
  }

  &__mail {
    &:hover,
    &:focus {
      outline: 0;
      border: 1px solid #FF1744;
    }

    background: #FFFFFF;
    color: #9C9C9C;
    font-weight: normal;
    border: 1px solid #E1E1E1;
  }

  @media (max-width: 600px) {

    .subscription__soc {
      margin: 5px auto;
    }
  }

}