<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Title</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        @@include("./blocks/header.html")
        @@include("./blocks/slider.html")
        @@include("./blocks/catalog.html")
        @@include("./blocks/svg-sprites.svg")
        @@include("./blocks/stocks.html")
        @@include("./blocks/reviews.html")
        @@include("./blocks/footer.html")


        <script src="js/jquery-3.5.1.slim.min.js"></script>
        <script src="js/bootstrap.bundle.js"></script>


    </body>
</html>
