<section class="catalog" style="margin-bottom: 250px">

    <div class="container" id="catalog">

        <h1 class="text-center">Популярно</h1>

        <div class="row ">
            <div class="card-deck  mb-3">
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                        <div style="fill: red" class="basket"><svg><use xlink:href="#basket"></use></svg></div>
                        <div>
                            <button type="submit" class="card__basket">
                                <div class="basket">
                                    <svg>
                                        <use xlink:href="#basket"></use>
                                    </svg>
                                </div>
                            </button>

                            <p>500</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                    </div>
                </div>
            </div>
            <div class="card-deck mb-3">
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                    </div>
                </div>
            </div>
            <div class="card-deck mb-3">
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../img//catalog.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Филадельфия Антинори</h5>
                        <p class="card-text">300 гр / 9 шт.</p>
                        <p class="card-text"><small class="text-muted">Буррито Темпура, Темпура Лосось, Темпура Бекон,
                            Роллы обжаренные во фритюре</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>