<section class="footer " id="footer">

    <div class="container">
        <div class="row">
            <div class="col-5">
                <img class="img-fluid" src="../../img/img/logoFoter.svg" alt="лого">
            </div>
            <div class="col">
                <p>Меню</p>
                <ul>
                    <li><p>Роллы</p></li>
                    <li><p>Сетты</p></li>
                    <li><p>Пицца</p></li>
                    <li><p>Темпура</p></li>
                    <li><p>Запеченные роллы</p></li>
                </ul>
            </div>
            <div class="col">
                <p>Регламент</p>
                <ul>
                    <li><p>Акции</p></li>
                    <li><p>Доставка и оплата</p></li>
                </ul>
            </div>
            <div class="col">
                <p>8 (351) 238-22-00</p>
                <p>
                    с 11:00 до 23:00
                    <br>
                    ежедневно
                </p>
                <p>Копейск, Пр. славы, 9</p>

            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">

                <p>© Все права защищены</p>
                <div class="float-right">

                    <a href="#" class="btn btn-outline-secondary btn-lg border-0" role="button" aria-pressed="true">
                        <img
                                src="../../img/svg/vk.svg" alt="">
                        vkontakte</a>
                    <a href="#" class="btn btn-outline-light btn-lg border-0" role="button" aria-pressed="true"> <img
                            src="../../img/svg/instagram.svg" alt="">
                        instagram</a>
                </div>
            </div>

        </div>

    </div>


</section>
