<section class="header" id="header">
    <header>
        <nav class="navbar fixed-top navbar-expand-xl navbar-white bg-white">
            <div class="container">

                <a class="navbar-brand" href="#"><img src="../../img/logoHead.svg" alt=""></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Меню
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Запеченные роллы</a>
                                <a class="dropdown-item" href="#">Роллы</a>
                                <a class="dropdown-item" href="#">Темпура</a>
                                <a class="dropdown-item" href="#">Сеты</a>
                                <a class="dropdown-item" href="#">Пицца</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Акции</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Отзывы</a>
                        </li>
                    </ul>
                </div>

                <div class="contacts">
                    <p class="contacts__number">8 (351) 238-22-00
                        <br>
                    <p class="contacts__time">с 11:00 до 23:00</p>
                </div>

                <a href="#" class="purchases">500.00 р.
                    <div class="purchases__quantity">2</div>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span style="color: red" class="navbar-toggler-icon bg-dark"></span>
            </button>

            </div>
        </nav>
    </header>
</section>