<header class="header" id="header">
    <div class="header-box">
        <div>
            <a href="#callback">
                <img class="chat" src="../../img/message.svg" alt="message">
            </a>
        </div>
        <a class="logo header-logo" href="#"><img src="../../img/logoHead.svg" alt=""></a>
        <nav>
            <ul class="navigation navigation_margin-right">
                <li class="navigation__item"><a class="navigation__ref" href="#" id="navbarDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Меню
                    <img src="../../img/menu-down-arrow.svg" alt="down-Arrow"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-item__text">Все меню</div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-item__text">Запеченные роллы</div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-item__text">Роллы</div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-item__text">Темпура</div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-item__text">Сеты</div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-item__text dropdown-item__text_unbordered">Пицца</div>
                        </a>
                    </div>
                </li>
                <li class="navigation__item"><a class="navigation__ref" href="#">Акции</a></li>
                <li class="navigation__item"><a class="navigation__ref" href="#">Доставка</a></li>
                <li class="navigation__item"><a class="navigation__ref" href="#">Отзывы</a></li>
            </ul>
        </nav>
<!-- правое меню header начало -->
        <div class="contacts">
            <span class="contacts__item">8 (351) 238-22-00</span>
            <span class="contacts__item">с 11:00 до 23:00</span>
        </div>

        <div class="basket">
            <button class="btn basket__btn">
                <div class="basket__item">568.95р</div>
            </button>
        </div>
<!-- правое меню header конец -->
    </div>
</header>