<section class="reviews">

    <div class="container px-0 mt-3">
        <h2 class="reviews__title">Отзывы</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="0">
            <ol class="carousel-indicators ">
                <li data-target="#carouselExampleIndicators"  data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators"  data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators"  data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators"  data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators"  data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators"  data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner pb-5">
                <div class="carousel-item  active">
                    <div class="card-deck mb-3 ">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>1111Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>1111Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>222222Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>222222Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>33333Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>33333Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>33333Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>33333Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>33333Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>33333Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>33333Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Название карточки</h5>
                                <p>33333Вчера заказали по акции День рождения. Пиццы 5штук и получили приятный и
                                    очень вкусный подарок килограмм суши. Спасибо огромное, всё супер вкусное, фото нет
                                    так
                                    как
                                    быстро съели такую вкуснатищу. Будем всегда заказывать у вас, дети в восторге от
                                    такого
                                    количества начинки. Спасибо персоналу данного заведения, приятные и вежливые. Всё на
                                    вышем
                                    уровне 100%. Администратор молодец.! Рекомендую всем.!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
            <!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
            <!--            <span class="sr-only">Previous</span>-->
            <!--        </a>-->
            <!--        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
            <!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
            <!--            <span class="sr-only">Next</span>-->
            <!--        </a>-->
        </div>
    </div>
</section>