<section class="stocks-page">

    <h1 class="title_margin">Акции</h1>

    <div class="button">
        <img src="" alt="" class="button__img">
        <p class="button__text"></p>
    </div>

    <div class="wrap">
        <div class="container">
            <div class="row">
                <a class="card-ref col-md-4" href="#">
                    <div>
                        <img class="card-ref__img" src="../../img/stocks_page/raffle.png" alt="акции роллы">
                        <div class="card-ref__body">
                            <p class="card-ref__title">Шестой ролл в подарок</p>
                            <p class="card-ref__text">Поставь лайк конкурсному посту и выиграй свой ролл!</p>
                        </div>
                    </div>
                </a>
                <a class="card-ref col-md-4" href="#">
                    <div>
                        <img class="card-ref__img" src="../../img/stocks_page/raffle.png" alt="акции роллы">
                        <div class="card-ref__body">
                            <p class="card-ref__title">Шестой ролл в подарок</p>
                            <p class="card-ref__text">Поставь лайк конкурсному посту и выиграй свой ролл!</p>
                        </div>
                    </div>
                </a>
                <a class="card-ref col-md-4" href="#">
                    <div>
                        <img class="card-ref__img" src="../../img/stocks_page/raffle.png" alt="акции роллы">
                        <div class="card-ref__body">
                            <p class="card-ref__title">Шестой ролл в подарок</p>
                            <p class="card-ref__text">Поставь лайк конкурсному посту и выиграй свой ролл!</p>
                        </div>
                    </div>
                </a>
                <a class="card-ref col-md-4" href="#">
                    <div>
                        <img class="card-ref__img" src="../../img/stocks_page/raffle.png" alt="акции роллы">
                        <div class="card-ref__body">
                            <p class="card-ref__title">Шестой ролл в подарок</p>
                            <p class="card-ref__text">Поставь лайк конкурсному посту и выиграй свой ролл!</p>
                        </div>
                    </div>
                </a>
                <a class="card-ref col-md-4" href="#">
                    <div>
                        <img class="card-ref__img" src="../../img/stocks_page/raffle.png" alt="акции роллы">
                        <div class="card-ref__body">
                            <p class="card-ref__title">Шестой ролл в подарок</p>
                            <p class="card-ref__text">Поставь лайк конкурсному посту и выиграй свой ролл!</p>
                        </div>
                    </div>
                </a>
                <a class="card-ref col-md-4" href="#">
                    <div>
                        <img class="card-ref__img" src="../../img/stocks_page/raffle.png" alt="акции роллы">
                        <div class="card-ref__body">
                            <p class="card-ref__title">Шестой ролл в подарок</p>
                            <p class="card-ref__text">Поставь лайк конкурсному посту и выиграй свой ролл!</p>
                        </div>
                    </div>
                </a>


            </div>
        </div>
    </div>

</section>