<section class="stocks" id="stocks">
    <div class="stocks__inner">
        <div class="container">
            <h1 class="text-center">Акции</h1>
            <div class="stocks-cards">
                <div class="row justify-content-between mb-3 no-gutters">
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <img class="card-img" src="https://via.placeholder.com/560x240" alt="">
                            <div class="card-img-overlay">
                                <p class="card-text">Порция начос за самовывоз</p>
                                <a href="#" class="card-link btn">
                                    <div class="details">
                                        <p>Подробнее</p>
                                        <p class="stocks__ancherArrow" title="U+2192: RIGHTWARDS ARROW">➔</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <img class="card-img" src="https://via.placeholder.com/560x240" alt="">
                            <div class="card-img-overlay">
                                <p class="card-text">Порция начос за самовывоз</p>
                                <a href="#" class="card-link btn">
                                    <div class="details">
                                        <p>Подробнее</p>
                                        <p class="stocks__ancherArrow" title="U+2192: RIGHTWARDS ARROW">➔</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <img class="card-img" src="https://via.placeholder.com/560x240" alt="">
                            <div class="card-img-overlay">
                                <p class="card-text">Порция начос за самовывоз</p>
                                <a href="#" class="card-link btn">
                                    <div class="details">
                                        <p>Подробнее</p>
                                        <p class="stocks__ancherArrow" title="U+2192: RIGHTWARDS ARROW">➔</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <img class="card-img" src="https://via.placeholder.com/560x240" alt="">
                            <div class="card-img-overlay">
                                <p class="card-text">Порция начос за самовывоз</p>
                                <a href="#" class="card-link btn">
                                    <div class="details">
                                        <p>Подробнее</p>
                                        <p class="stocks__ancherArrow" title="U+2192: RIGHTWARDS ARROW">➔</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row allStocks">
                    <a href="#" class="btn stocksButton btn-outline-secondary"><p class="stocksButton__text">Все
                        акции</p><img class="stocksButton__arrow" src="../../img/svg/arrow.svg" alt="arrow"></a>
                </div>
            </div>
        </div>
    </div>
</section>
