<section class="stocks" id="stocks">
    <div class="container-fluid ">
<!--        <img src="../../img/svg/redBKGbottom.svg" class=" bcgImg" alt="backgound">-->
        <div class="container ">
            <p class="h1 text-center mb-3">Акции</p>
            <div class="row justify-content-between mb-3">
                <div class="card" style="width: 34rem;">
                    <img class="card-img" src="../../img/img/stocks.png" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="card-link">Ссылка карты</a>
                    </div>
                </div>
                <div class="card" style="width: 34rem;">
                    <img class="card-img" src="../../img/img/stocks.png" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="card-link">Ссылка карты</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between mb-3">
                <div class="card" style="width: 34rem;">
                    <img class="card-img" src="../../img/img/stocks.png" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="card-link">Ссылка карты</a>
                    </div>
                </div>
                <div class="card" style="width: 34rem;">
                    <img class="card-img" src="../../img/img/stocks.png" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="card-link">Ссылка карты</a>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" href="#" role="button">Link</a>
        </div>
    </div>
</section>
