<section class="stocks" id="stocks">
    <div class="container-fluid ">
        <!--        <img src="../../img/svg/redBKGbottom.svg" class=" bcgImg" alt="backgound">-->
        <div class="container ">
            <h1 class="text-center">Акции</h1>
            <div class="row justify-content-between mb-3">
                <div class="card" style="width: 35rem;">
                    <img class="card-img" src="../../img/img/stocks.png" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text">Порция начос за самовывоз</p>
                        <a href="#" class="card-link">
                            <div class="details"><p>Подробнее</p>
                                <div><img src="../../img/svg/arrow.svg" alt=""></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card" style="width: 35rem;">
                    <img class="card-img" src="../../img/img/stocks.png" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text">Порция начос за самовывоз</p>
                        <a href="#" class="card-link">
                            <div class="details"><p>Подробнее</p>
                                <div><img src="../../img/svg/arrow.svg" alt=""></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between mb-3">
                <div class="card" style="width: 35rem;">
                    <img class="card-img" src="../../img/img/stocks.png" alt="details">
                    <div class="card-img-overlay">
                        <p class="card-text">Порция начос за самовывоз</p>
                        <a href="#" class="card-link">
                            <div class="details"><p>Подробнее</p>
                                <div><img src="../../img/svg/arrow.svg" alt="details"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card" style="width: 35rem;">
                    <img class="card-img" src="../../img/img/stocks.png" alt="details">
                    <div class="card-img-overlay">
                        <p class="card-text">Порция начос за самовывоз</p>
                        <a href="#" class="card-link">
                            <div class="details"><p>Подробнее</p>
                                <div><img src="../../img/svg/arrow.svg" alt="details"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row allStocks">
                <a href="#" class="btn stocksButton btn-outline-secondary">Все акции</a>
            </div>
        </div>
    </div>
</section>
