<section class="section">

    <h1 class="title section__title section__title_margin_big">Акции</h1>

    <div class="section__wrap">
        <div class="container">
            <div class="grid">

                <div class="grid__item">
                    <a href="#" class="nbcard">
                        <img src="../../img/stocks_page/raffle.png" alt="иконка карточки" class="nbcard__img">
                        <div class="nbcard__body">
                            <span class="nbcard__title nbcard__title_big">Шестой ролл в подарок</span>
                            <span class="nbcard__text nbcard__text">Закажи 5 роллов и получи шестой в подарок бесплатно</span>
                        </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#" class="nbcard">
                        <img src="../../img/stocks_page/raffle.png" alt="иконка карточки" class="nbcard__img">
                        <div class="nbcard__body">
                            <span class="nbcard__title nbcard__title_big">Шестой ролл в подарок</span>
                            <span class="nbcard__text nbcard__text">Закажи 5 роллов и получи шестой в подарок бесплатно</span>
                        </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#" class="nbcard">
                        <img src="../../img/stocks_page/raffle.png" alt="иконка карточки" class="nbcard__img">
                        <div class="nbcard__body">
                            <span class="nbcard__title nbcard__title_big">Шестой ролл в подарок</span>
                            <span class="nbcard__text nbcard__text">Закажи 5 роллов и получи шестой в подарок бесплатно</span>
                        </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#" class="nbcard">
                        <img src="../../img/stocks_page/raffle.png" alt="иконка карточки" class="nbcard__img">
                        <div class="nbcard__body">
                            <span class="nbcard__title nbcard__title_big">Шестой ролл в подарок</span>
                            <span class="nbcard__text nbcard__text">Закажи 5 роллов и получи шестой в подарок бесплатно</span>
                        </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#" class="nbcard">
                        <img src="../../img/stocks_page/raffle.png" alt="иконка карточки" class="nbcard__img">
                        <div class="nbcard__body">
                            <span class="nbcard__title nbcard__title_big">Шестой ролл в подарок</span>
                            <span class="nbcard__text nbcard__text">Закажи 5 роллов и получи шестой в подарок бесплатно</span>
                        </div>
                    </a>
                </div>
                <div class="grid__item">
                    <a href="#" class="nbcard">
                        <img src="../../img/stocks_page/raffle.png" alt="иконка карточки" class="nbcard__img">
                        <div class="nbcard__body">
                            <span class="nbcard__title nbcard__title_big">Шестой ролл в подарок</span>
                            <span class="nbcard__text nbcard__text">Закажи 5 роллов и получи шестой в подарок бесплатно</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

</section>