<div class="popup">
    <div class="popup__header">
        <div class="popup__title"></div>
        <div class="logo"><img src="../../../img/logoHead.svg" alt=""></div>
    </div>
    <div class="cart">

        <div class="cart__title">
            <span>Товар</span>
            <span>Описание</span>
            <span>Количество</span>
            <span>Цена</span>
        </div>
        <div class="product">
            <div class="product__logo"><img src="../../../img/catalog.png" alt=""></div>
            <div class="product__desc product-desc">
                <div class="product-desc__title">Филадельфия</div>
                <div class="product-desc__amount">300 гр / 9 шт.</div>
                <div class="product-desc__composition">
                    Буррито Темпура, Темпура Лосось, Темпура Бекон, Роллы обжаренные во фритюре
                </div>
            </div>
            <div class="cont">
                <button>+</button>
                <div>1</div>
                <button>-</button>
            </div>
            <div class="product__price">300 р.</div>
        </div>
        <div class="product">
            <div class="product__logo"><img src="../../../img/catalog.png" alt=""></div>
            <div class="product__desc product-desc">
                <div class="product-desc__title">Филадельфия</div>
                <div class="product-desc__amount">300 гр / 9 шт.</div>
                <div class="product-desc__composition">
                    Буррито Темпура, Темпура Лосось, Темпура Бекон, Роллы обжаренные во фритюре
                </div>
            </div>
            <div class="cont">
                <button>+</button>
                <div>1</div>
                <button>-</button>
            </div>
            <div class="product__price">300 р.</div>
        </div>

    </div>
</div>