<section class="section">

    <div class="container banner banner_x2">
        <div class="banner__inner">
            <div class="text_huge text-primary">X2</div>
            <div class="">
                <img src="../../../img/stocks_page/mexican.png" alt="">
                <img src="../../../img/stocks_page/tsutsumi.png" alt="">
            </div>
            <div class="">
                <span class="text_big text_color_significant">
                    Два ролла по цене
                    <span class="text_color_primary">одного</span>
                </span>
            </div>
        </div>
    </div>

    <h1 class="title title_small section__title_margin_small">Заказываете ДВА ролла, а платите только за ОДИН!</h1>

    <div class="container">
        <span class="text container__text">
            <span class="text text_color_primary">Хруст</span>
            (230гр/8шт): рис, сливочный сыр, омлет, лук фри
            <div class="text">Цена: 249 рублей</div>
        </span>
        <span class="text container__text">
            <span class="text text_color_primary">Хруст</span>
            (230гр/8шт): рис, сливочный сыр, омлет, лук фри
            <div class="text">Цена: 249 рублей</div>
        </span>
        <span class="text container__text">
            <span class="text text_color_primary">Хруст</span>
            (230гр/8шт): рис, сливочный сыр, омлет, лук фри
            <div class="text">Цена: 249 рублей</div>
        </span>
        <span class="text container__text">
            <span class="text text_color_primary">Хруст</span>
            (230гр/8шт): рис, сливочный сыр, омлет, лук фри
            <div class="text">Цена: 249 рублей</div>
        </span>
        <span class="text container__text">
            <span class="text text_color_primary">Хруст</span>
            (230гр/8шт): рис, сливочный сыр, омлет, лук фри
            <div class="text">Цена: 249 рублей</div>
        </span>
        <span class="text container__text">
            <span class="text text_color_primary">Хруст</span>
            (230гр/8шт): рис, сливочный сыр, омлет, лук фри
            <div class="text">Цена: 249 рублей</div>
        </span>


    </div>

</section>