<section class="x2">

    <div class="container container-x2">
        <div class="box">
            <img src="../../../img/stocks_page/mexican.png" alt="">
            <img src="../../../img/stocks_page/tsutsumi.png" alt="">
        </div>
        <p>Два ролла по цене <span>одного</span></p>
    </div>

    <p class="title">Заказываете ДВА ролла, а платите только за ОДИН!</p>

    <div class="container">
        <p class="paragraphs"><span class="paragraphs__items">Сенпай</span> (230гр/8шт): рис, лосось, киви, сливочный
            сыр
            Цена: 240 рублей
        </p>
        <p class="paragraphs"><span class="paragraphs__items">Хруст</span> (230гр/8шт): рис, сливочный сыр, омлет, лук
            фри
            Цена: 249 рублей
        </p>
        <p class="paragraphs"><span class="paragraphs__items">Чидори</span> (270гр/8шт): рис, сливочный сыр, курочка
            Терияки, помидор, плавленный сыр
            Цена: 249 рублей
        </p>
        <p class="paragraphs"><span class="paragraphs__items">Бонито</span> (250гр/8шт): рис, обжаренный лосось, огурец,
            сливочный сыр, стружка тунца
            Цена: 249 рублей
        </p>
        <p class="paragraphs"><span class="paragraphs__items">Коррида</span>(290гр/8шт): рис, бекон, огурец, сливочный
            сыр, ШАПОЧКА: спайси (немного острая)
            Цена: 249 рублей
        </p>
        <p class="paragraphs"><span class="paragraphs__items">Рисовый бурритос</span> (300гр/8шт): сырная лепёшка, рис,
            огурец, сливочный сыр, копч.курочка, ШАПОЧКА: крабовая
            Цена: 249 рублей </p>
    </div>

</section>