body {
  margin-top: 98px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pangolin', cursive;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

btn {
  border: 0;
}